.authContainer {
    position: fixed;       /* Giữ cố định trên toàn màn hình */
    top: 0;
    left: 0;
    width: 100vw;          /* Toàn bộ chiều ngang */
    height: 100vh;         /* Toàn bộ chiều cao */
    background: rgba(21, 21, 21, 0.4); /* Làm mờ nền */
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
    z-index: 999;
}

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 550px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: #f0f2f5;
}

.authTitel {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #333;
}

.authInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 25px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 16px;
}

.inputItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.inputItem:focus {
  outline: none;
  transform: scale(1.02);
  border-color: #007bff;
}

.inputSubmit {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.inputSubmit:hover {
  background: #0056b3;
  transition: 0.3s all ease;
}

.forgotPass {
    align-self: flex-end;
}

.forgotPass:hover {
    color: #0056b3;
    cursor: pointer;
}

.authNow {
    color: #ff0000;
}

.authNow:hover {
    color: #cc0000;
    cursor: pointer;
}

.closeForm {
    align-self: flex-end;
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin: 5px;
    font-weight: bold;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.closeForm:hover {
    background-color: #B31217;
    transition: 0.3s all ease;
}